* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
}
  /* header */
  header {
    width: 100%;
    height: 150px;
    background-color: #1B2549;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    align-items: center;

  }

  .logo {
    width: 150px;
    height: 150px;
  }

  .inicio_sesion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
    min-width: 150px;
  }

  .inicio_sesion #inicio,
  .inicio_sesion #unirse {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }

  .inicio_sesion #inicio img {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.3rem;
  }

  .redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
    min-width: 120px;
  }

  .redes img {
    width: 2rem;
    height: 2rem;
  }

  .redes .x {
    width: 1.8rem;
    height: 1.6rem;
  }


  .menu {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 25%;
  }

  .menu a {

    text-transform: uppercase;
    text-decoration: none;
    color: #1B2549;
    width: 200px;
    height: 50PX;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: solid 2px #1B2549;
    background-color: aliceblue;
    transition: 3s;

  }

  .mostrar-menu,
  .esconder-menu {
    font-size: 30px;

    cursor: pointer;
    display: none;
    transition: 0.5s;
  }

  .mostrar-menu {
    order: 1;

  }

  .menu a:hover,
  .mostrar-menu:hover,
  .esconder-menu:hover {
    color: #6cc091;
    text-decoration: underline;


  }

  #check {
    display: none;
  }

/* contenedor de la pagina */
.contenedor_principal {
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/fondo_quienes_somos.svg);
  background-size: cover;
  background-image: 100%;
  background-position: center;
  justify-content: center;
  align-items: center;

}

/* termina la sesion del header y del menu principal */



/* comienza la sesion de la informacion de quienes somos */
#img1quienesSomos {
    width: 40vw;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

#img2quienesSomos {
    width: 60vw;
    height: 50vh;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

#img3quienesSomos {
    width: 45vw;
    height: 50vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

.iniciosAerozone {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 80vw;
    border-radius: 10px;
    justify-content: space-between;


}

.textoBloque1 {
    text-align: center;
    width: 45vw;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;

}

.textoBloque2 {
    text-align: center;
    width: 60vw;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;

}

.quienesSomos {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.corazonAerozoneText {
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}
.seccion2_1{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.seccion2 {
    display: flex;
 width: 80vw;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 3rem;
}

#imgseccion {
    width: 20vw;
    height: 38vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.texto {
    width: 20vw;
    text-align: center;
    padding: 10px;
    font-size: 0.9vw;
    margin-top: -10px;
}

.particiones {
    width: 20vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;

}

.particiones h2 {
    margin-bottom: 0.3rem;
    
}


.valores {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;


}

.fila {
    display: flex;

    justify-content: space-evenly;

}

.valor {
    border: 1px solid;
    border-radius: 10px;
    width: 40vw;
    padding: 20px;
    text-align: center;

}

a{
  text-decoration: none;

}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1b2549;
    color: #b6b6b6;
    height: 50vh;
    margin-top: 3rem;

}

footer a{
    color: #b6b6b6;
}

.imgFooter img{
    width: 2vw;
   
}

.imgFooter{
    display: flex;
     gap:1rem;
}

.infoFooter{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}





@media(max-width: 768px) {

  /* header */




  .logo {
    width: 120px;
    height: 120px;
  }

  .inicio_sesion {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 30%;
    justify-content: space-around;
    width: 40vw;
    min-width: 150px;
  }

  .inicio_sesion #inicio,
  .inicio_sesion #unirse {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }

  .inicio_sesion #inicio img {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.3rem;
  }

  .redes {
    display: none;

  }

  .redes img {
    display: none;

  }

  .redes .x {
    display: none;

  }


  /* menu de hamburguesa */

  .mostrar-menu,
  .esconder-menu {
    display: block;
  }

  .menu {
    position: fixed;
    width: 26%;
    height: 100vh;
    background-color: #1B2549;
    right: -100%;
    flex-direction: column;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 1000;
    transition: 0.8s;
  }

  .menu a {
    display: block;

    display: flex;
    border: none;
    align-items: center;
    background: none;
    color: aliceblue;
  }

  .mostrar-menu {
    color: aliceblue;
    position: absolute;
    z-index: 1000;
    top: 56px;
    position: fixed;
    right: 50px;
  }

  .esconder-menu {
    z-index: 1000;
    color: aliceblue;
    position: absolute;
    top: 50px;
    right: 50px;
  }

  #check:checked~.menu {

    right: 0;
  }
}


/* responsive */
@media(max-width: 768px) {

  .contenedor_principal {
    height: 50vh;
  }
}

@media(max-width: 768px) {

/* comienza la sesion de la informacion de quienes somos */
#img1quienesSomos {
    width: 40vw;
    height: 30vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

#img2quienesSomos {
    width: 40vw;
    height: 30vh;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

#img3quienesSomos {
    width: 45vw;
    height: 30vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

.iniciosAerozone {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 80vw;
    border-radius: 10px;
    justify-content: space-between;


}

.textoBloque1 {
    text-align: center;
    width: 45vw;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;


}
.textoBloque1 h1{
    font-size: 25px;
}
.textoBloque1 p{
    font-size: 15px;
}

.textoBloque2 {
    text-align: center;
    width: 60vw;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
 

}
.textoBloque2 h1{
    font-size: 25px;
}
.textoBloque2 p{
    font-size: 15px;
}
.quienesSomos {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
}


/* responsive del corazon de aerozone */

@media(max-width: 768px) {
    
.corazonAerozoneText {
    margin-top: 2.1rem;
    justify-content: center;
    text-align: center;
    gap: 2.1rem;
}
.seccion2_1{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.seccion2 {
    display: flex;
 width: 80vw;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 3rem;
}

#imgseccion {
    width: 23vw;
    height: 20vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.texto {
    width: 20vw;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
}

.particiones {
    width: 23vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;

}

.texto h2 {
    font-size: 0.9rem;
    
    margin-bottom: 0.3rem;
    
}
.texto p{
    text-align: justify;
    font-size: 10px;
}


.valores {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
    margin-top: 2.1rem;


}

.fila {
    display: flex;  
    width: 90vw;
    justify-content: space-evenly;

}

.valor {
    border: 1px solid;
    border-radius: 10px;
    width: 35vw;
    padding: 20px;
    
    text-align: center;

}
.valor h1{
    font-size: 1.5rem;
}
.valor p{
    text-align: justify;
}
a{
  text-decoration: none;

}



}


/* PIE DE PAGINA */
@media(max-width: 768px){
  

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
  background-color: #1b2549;
  color: #b6b6b6;
  height: 40vh;

}

footer a {
  color: #b6b6b6;
  text-decoration: none;
}

.imgFooter img {
  width: 2vw;

}

.imgFooter {
  display: flex;
  gap: 1rem;
}

.infoFooter {
  height: 40vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3vw;
}




}